@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #f3f4f6;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: block; /* MUHIM: flex emas! */
}

#root {
  width: 100%;
  height: 100%;
}